# Feeding
retornar json 'produto', 'fornecedor', 'qtd em estoque', 'qtd mínima', 'situacao'

In [8]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta, date
import requests, os, json
from time import sleep

In [2]:
def dmy(date):
  return date.strftime('%d/%m/%Y')

def rdmy(date):
  return datetime.strptime(date, '%d/%m/%Y')

In [54]:
# fazer requisição dos ids de produtos
produtos = list()
data = {'formato': 'json',
        'token': '2b6fc7102240cedcc9166c43921ea73eea82b876',
        'pesquisa': '',
        'pagina': 1}
while True:
  session = requests.post(url='https://api.tiny.com.br/api2/produtos.pesquisa.php', data=data).json()
  data['pagina'] += 1
  try:
    produtos += [x['produto'] for x in session['retorno']['produtos']]
  except:
    break
produtos = pd.DataFrame(produtos)
produtos['estoque'] = ''
produtos.set_index('id', inplace=True)
produtos.drop(['codigo', 'preco', 'preco_promocional', 'gtin', 'tipoVariacao', 'localizacao', 'preco_custo', 'preco_custo_medio', 'situacao'], axis=1, inplace=True)

In [55]:
produtos

                                 nome unidade estoque
id
648086180           ADICIONAIS EVENTO      un
623449734          ALCATRA COM QUEIJO      kg
623449795             ALMÔNDEGA BACON      kg
623449782            ALMÔNDEGA QUEIJO      kg
778208483             ANCHO ALIMENTAR      KG
...                               ...     ...     ...
769175229                      TULIPA      PÇ
623450804       WALS LAGOINHA (600ml)      Un
623450819  WALS SESSION CITRA (300ml)      Un
623450836         WALS VERANO (300ml)      Un
623450853         WALS X WALS (600ml)      Un

[153 rows x 3 columns]

In [56]:
# obter estoque para cada produto
for id in produtos.index:
    data = {
        'formato': 'json',
        'token': '2b6fc7102240cedcc9166c43921ea73eea82b876',
        'id': id
    }
    session = requests.post('https://api.tiny.com.br/api2/produto.obter.estoque.php', data=data).json()['retorno']
    try:
        produtos['estoque'].loc[id] = session['produto']['saldo']
    except:
        break#

In [57]:
produtos_ = produtos.copy()

In [2]:
produtos.to_dict(orient='records')

NameError: name 'produtos_' is not defined